*{
    margin: 0%;
    padding: 0%;
}

.head-1{
    margin: 2%;
}


.head-1 h3{
    font-size: larger;
}

.shopping{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid gray;
    padding: 5%;
    margin: 2%;
}

.shopping button{
    border: none;
    background: none;
    background-color:#a435f0;
    padding: 1%;
    color: white;
    font-size: larger;
}